/* make this grid */
#root {
  display: grid;
  max-width: 4000px;
  grid-template-columns: 38vw 58vw;
  column-gap: 2vw;
  /* margin: 0 auto; */
  margin: 2vw;
}

#root h1 {
  font-size: 2rem;
}

#root h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

#personalBox, #educationBox, #workBox {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 3px double gray;
  /* align-items: flex-start;   */
}

#rightContainer {
  background-color: lightgray;
}

.textArea {
  width: 100%;
  height: 150px;
}
/* @media */

